html { font-family: "GothamPro", sans-serif; line-height: 1.42; font-size: 16px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; height: 100%; }

body { height: 100%; color: #FFF; font-family: "GothamPro", sans-serif; font-weight: 400; font-size: 20px; font-size: 1.25rem; letter-spacing: 0.01em; line-height: 1.42; background: #0069ba; }

.inner { max-width: 1860px; padding-left: 80px; padding-right: 80px; margin-left: auto; margin-right: auto; }

.inner:before, .inner:after, .clearfix:before, .clearfix:after { content: ""; display: table; }

.inner:after, .clearfix:after { clear: both; }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* -- flex layout --*/
.row { margin-left: -15px; margin-right: -15px; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.row-no-paddings { margin-left: 0px; margin-right: 0px; }

.row-no-paddings [class*="flx-"] { padding-left: 0px; padding-right: 0px; }

.flx-1 { -webkit-flex: 8.33333%; -moz-flex: 8.33333%; -ms-flex: 8.33333%; -o-flex: 8.33333%; flex: 8.33333%; max-width: 8.33333%; }

.flx-2 { -webkit-flex: 16.66667%; -moz-flex: 16.66667%; -ms-flex: 16.66667%; -o-flex: 16.66667%; flex: 16.66667%; max-width: 16.66667%; }

.flx-3 { -webkit-flex: 25%; -moz-flex: 25%; -ms-flex: 25%; -o-flex: 25%; flex: 25%; max-width: 25%; }

.flx-4 { -webkit-flex: 33.33333%; -moz-flex: 33.33333%; -ms-flex: 33.33333%; -o-flex: 33.33333%; flex: 33.33333%; max-width: 33.33333%; }

.flx-5 { -webkit-flex: 41.66667%; -moz-flex: 41.66667%; -ms-flex: 41.66667%; -o-flex: 41.66667%; flex: 41.66667%; max-width: 41.66667%; }

.flx-6 { -webkit-flex: 50%; -moz-flex: 50%; -ms-flex: 50%; -o-flex: 50%; flex: 50%; max-width: 50%; }

.flx-7 { -webkit-flex: 58.33333%; -moz-flex: 58.33333%; -ms-flex: 58.33333%; -o-flex: 58.33333%; flex: 58.33333%; max-width: 58.33333%; }

.flx-8 { -webkit-flex: 66.66667%; -moz-flex: 66.66667%; -ms-flex: 66.66667%; -o-flex: 66.66667%; flex: 66.66667%; max-width: 66.66667%; }

.flx-9 { -webkit-flex: 75%; -moz-flex: 75%; -ms-flex: 75%; -o-flex: 75%; flex: 75%; max-width: 75%; }

.flx-10 { -webkit-flex: 83.33333%; -moz-flex: 83.33333%; -ms-flex: 83.33333%; -o-flex: 83.33333%; flex: 83.33333%; max-width: 83.33333%; }

.flx-11 { -webkit-flex: 91.66667%; -moz-flex: 91.66667%; -ms-flex: 91.66667%; -o-flex: 91.66667%; flex: 91.66667%; max-width: 91.66667%; }

.flx-12 { -webkit-flex: 100%; -moz-flex: 100%; -ms-flex: 100%; -o-flex: 100%; flex: 100%; max-width: 100%; }

.flx { -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; padding-left: 15px; padding-right: 15px; }

[class*="flx-"] { padding-left: 15px; padding-right: 15px; }

.order--3 { -webkit-box-ordinal-group: -3; -webkit-order: -3; -ms-flex-order: -3; order: -3; }

.order--2 { -webkit-box-ordinal-group: -2; -webkit-order: -2; -ms-flex-order: -2; order: -2; }

.order--1 { -webkit-box-ordinal-group: -1; -webkit-order: -1; -ms-flex-order: -1; order: -1; }

.order-0 { -webkit-box-ordinal-group: 0; -webkit-order: 0; -ms-flex-order: 0; order: 0; }

.order-1 { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; }

.order-2 { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; }

.order-3 { -webkit-box-ordinal-group: 3; -webkit-order: 3; -ms-flex-order: 3; order: 3; }

.flex, .row { display: -webkit-box; display: -webkit-flex; display: -webkit-inline-box; display: -webkit-inline-flex; display: inline-flex; display: -ms-flex; display: -ms-inline-flexbox; display: -ms-flexbox; display: flex; }

.flex-vertical { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }

.align-justify { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; -ms-justify-content: space-between; justify-content: space-between; }

.align-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; -ms-justify-content: center; justify-content: center; }

.align-start { -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; -ms-justify-content: flex-start; justify-content: flex-start; }

.align-end { -webkit-box-pack: end; -webkit-justify-content: flex-end; -ms-flex-pack: end; -ms-justify-content: flex-end; justify-content: flex-end; }

.valign-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; -ms-align-items: center; align-items: center; }

.valign-start { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; -ms-align-items: flex-start; align-items: flex-start; }

.valign-end { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; -ms-align-items: flex-end; align-items: flex-end; }

.valign-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; -ms-align-items: baseline; align-items: baseline; }

.self-bottom { -webkit-align-self: flex-end; -ms-align-self: flex-end; align-self: flex-end; }

.self-top { -webkit-align-self: flex-start; -ms-align-self: flex-start; align-self: flex-start; }

.self-center { -webkit-align-self: center; -ms-align-self: center; align-self: center; }

.flex-wrap { -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }

p { margin: 0px 0px 20px; }

ul, ol { padding: 0px; margin: 0px; list-style: none; }

li { list-style: none; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h20 { font-family: "GothamPro"; font-weight: 700; color: #ffe53e; margin: 22px 0px 18px; text-transform: none; }

h1, .h1 { font-size: 64px; font-size: 4rem; margin-top: 0; line-height: 1; }

h2, .h2 { font-size: 44px; font-size: 2.75rem; line-height: 1.1; }

h3, .h3 { font-size: 32px; font-size: 2rem; line-height: 1.2; color: #ffe53e; }

h4, .h4 { font-size: 26px; font-size: 1.625rem; line-height: 1.25; }

h5, .h5 { font-size: 23px; font-size: 1.4375rem; line-height: 1.25; }

h6, .h6 { font-size: 20px; font-size: 1.25rem; text-transform: none; }

a { color: #ffe53e; text-decoration: none; outline: none; -webkit-transition: all 0.45s; -moz-transition: all 0.45s; -khtml-transition: all 0.45s; -ms-transition: all 0.45s; -o-transition: all 0.45s; transition: all 0.45s; }

a:hover { text-decoration: none; color: #fbb800; }

b, strong { font-weight: 700; }

img { max-width: 100%; height: auto; }

hr { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; margin-top: 20px; margin-bottom: 20px; padding: 0; height: 1px; border: 0; border-top: 1px solid #bbb; overflow: hidden; }

table { border-collapse: collapse; }

a img { border: none; display: block; line-height: 0; }

svg.sprite { display: block; max-width: 100%; max-height: 100%; -webkit-transition: fill .4s ease, stroke .4s ease; -moz-transition: fill .4s ease, stroke .4s ease; -ms-transition: fill .4s ease, stroke .4s ease; -o-transition: fill .4s ease, stroke .4s ease; transition: fill .4s ease, stroke .4s ease; }

svg.svg-inline { display: inline-block; vertical-align: middle; position: relative; top: -1px; margin-right: 5px; }

/*---- ICONS ---- */
i[class^="i-"] { display: inline-block; vertical-align: middle; position: relative; top: -1px; margin-right: 7px; }

::selection { background: #ffe53e; color: #FFF; }

::-moz-selection { background: #ffe53e; color: #FFF; }

article, .article { font-size: 14px; font-size: 0.875rem; line-height: 175%; font-weight: 400; }

article img, .article img { margin: 0px 0px 20px; }

article p, .article p { margin: 0px 0px 20px; }

.middle table { width: 100%; border-collapse: collapse; vertical-align: middle; margin: 0px 0px 20px; }

.middle thead th, .middle thead td { font-weight: 700; line-height: 1.2; text-align: left; }

.middle table td, .middle table th { padding: 10px 20px; }

.middle table td, .middle table th { vertical-align: middle; }

.middle table.even-odd td, table.even-odd td { border-bottom: 0; }

.middle table.even-odd tbody tr:nth-of-type(odd), table.even-odd tbody tr:nth-of-type(odd) { background: #f9f8f6; }

.middle table.no-borders td, .middle table.no-borders th, table.no-borders td, table.no-borders th { border: 0; }

table.wide { width: 100%; }

blockquote { background: #0069ba; margin: 30px 0 30px 0; padding: 35px 65px; text-align: center; font-weight: 500; font-style: italic; color: #ffe53e; font-size: 20px; font-size: 1.25rem; }

ul.ui-marked { padding-left: 0px; margin-bottom: 22px; }

ul.ui-marked > li { margin-bottom: 8px; position: relative; padding-left: 30px; }

ul.ui-marked > li:before { content: ""; position: absolute; top: 8px; left: 0px; width: 18px; height: 1px; background: #ffe53e; }

ul.ui-marked.dotted > li { padding-left: 18px; margin-bottom: 10px; }

ul.ui-marked.dotted > li:before { content: ""; position: absolute; top: 5px; left: 0px; width: 5px; height: 5px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -khtml-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #ea1d24; }

ol.ui-marked { padding-left: 0px; counter-reset: myCounter; margin-bottom: 40px; }

ol.ui-marked > li { margin-bottom: 20px; position: relative; list-style: none; /*padding-left: 27px;*/ }

ol.ui-marked > li:before { counter-increment: myCounter; content: counter(myCounter) "."; font-weight: 700; margin-right: 5px; }

/* form, buttons */
button, input, optgroup, select, textarea { font-family: "GothamPro"; font-weight: 400; outline: none !important; }

input[type="text"], input[type="tel"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], input[type="url"], input[type="date"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="color"], textarea, select { font-family: "GothamPro"; background: #FFF; color: #FFF; border: 1px solid #FFF; padding: 0px 25px; height: 54px; max-width: 100%; font-size: 20px; font-size: 1.25rem; outline: none !important; -webkit-transition: border .3s, box-shadow .4s; -moz-transition: border .3s, box-shadow .4s; -ms-transition: border .3s, box-shadow .4s; -o-transition: border .3s, box-shadow .4s; transition: border .3s, box-shadow .4s; }

input[type="text"].wide, input[type="tel"].wide, input[type="password"].wide, input[type="email"].wide, input[type="number"].wide, input[type="search"].wide, input[type="url"].wide, input[type="date"].wide, input[type="time"].wide, input[type="datetime"].wide, input[type="datetime-local"].wide, input[type="month"].wide, input[type="week"].wide, input[type="color"].wide, textarea.wide, select.wide { width: 100%; }

input[type="text"].mini, input[type="tel"].mini, input[type="password"].mini, input[type="email"].mini, input[type="number"].mini, input[type="search"].mini, input[type="url"].mini, input[type="date"].mini, input[type="time"].mini, input[type="datetime"].mini, input[type="datetime-local"].mini, input[type="month"].mini, input[type="week"].mini, input[type="color"].mini, textarea.mini, select.mini { height: 36px; }

input[type="text"].big, input[type="tel"].big, input[type="password"].big, input[type="email"].big, input[type="number"].big, input[type="search"].big, input[type="url"].big, input[type="date"].big, input[type="time"].big, input[type="datetime"].big, input[type="datetime-local"].big, input[type="month"].big, input[type="week"].big, input[type="color"].big, textarea.big, select.big { height: 72px; }

input[type="text"]:hover, input[type="tel"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="search"]:hover, input[type="url"]:hover, input[type="date"]:hover, input[type="time"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="week"]:hover, input[type="color"]:hover, textarea:hover, select:hover { border-color: #a2a2a2; /*box-shadow: $shadow;*/ }

input[type="text"]:focus, input[type="tel"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="url"]:focus, input[type="date"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="color"]:focus, textarea:focus, select:focus { border-color: #0069ba; /*box-shadow: $shadow_focus;*/ }

input[type="text"]:disabled, input[type="tel"]:disabled, input[type="password"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="url"]:disabled, input[type="date"]:disabled, input[type="time"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="color"]:disabled, textarea:disabled, select:disabled { background: #f4f4f4; border: 1px solid #FFF; }

input[type="text"]:disabled:hover, input[type="text"]:disabled:focus, input[type="tel"]:disabled:hover, input[type="tel"]:disabled:focus, input[type="password"]:disabled:hover, input[type="password"]:disabled:focus, input[type="email"]:disabled:hover, input[type="email"]:disabled:focus, input[type="number"]:disabled:hover, input[type="number"]:disabled:focus, input[type="search"]:disabled:hover, input[type="search"]:disabled:focus, input[type="url"]:disabled:hover, input[type="url"]:disabled:focus, input[type="date"]:disabled:hover, input[type="date"]:disabled:focus, input[type="time"]:disabled:hover, input[type="time"]:disabled:focus, input[type="datetime"]:disabled:hover, input[type="datetime"]:disabled:focus, input[type="datetime-local"]:disabled:hover, input[type="datetime-local"]:disabled:focus, input[type="month"]:disabled:hover, input[type="month"]:disabled:focus, input[type="week"]:disabled:hover, input[type="week"]:disabled:focus, input[type="color"]:disabled:hover, input[type="color"]:disabled:focus, textarea:disabled:hover, textarea:disabled:focus, select:disabled:hover, select:disabled:focus { border-color: #FFF; }

input[type="text"].no-border, input[type="tel"].no-border, input[type="password"].no-border, input[type="email"].no-border, input[type="number"].no-border, input[type="search"].no-border, input[type="url"].no-border, input[type="date"].no-border, input[type="time"].no-border, input[type="datetime"].no-border, input[type="datetime-local"].no-border, input[type="month"].no-border, input[type="week"].no-border, input[type="color"].no-border, textarea.no-border, select.no-border { border: 1px solid transparent; }

input[type="text"].bordered, input[type="tel"].bordered, input[type="password"].bordered, input[type="email"].bordered, input[type="number"].bordered, input[type="search"].bordered, input[type="url"].bordered, input[type="date"].bordered, input[type="time"].bordered, input[type="datetime"].bordered, input[type="datetime-local"].bordered, input[type="month"].bordered, input[type="week"].bordered, input[type="color"].bordered, textarea.bordered, select.bordered { height: 42px; padding: 0px 15px; border: 1px solid #FFF; }

input[type="text"].invalid, input[type="tel"].invalid, input[type="password"].invalid, input[type="email"].invalid, input[type="number"].invalid, input[type="search"].invalid, input[type="url"].invalid, input[type="date"].invalid, input[type="time"].invalid, input[type="datetime"].invalid, input[type="datetime-local"].invalid, input[type="month"].invalid, input[type="week"].invalid, input[type="color"].invalid, textarea.invalid, select.invalid { color: #ea1d24; }

input[type="text"].valid, input[type="tel"].valid, input[type="password"].valid, input[type="email"].valid, input[type="number"].valid, input[type="search"].valid, input[type="url"].valid, input[type="date"].valid, input[type="time"].valid, input[type="datetime"].valid, input[type="datetime-local"].valid, input[type="month"].valid, input[type="week"].valid, input[type="color"].valid, textarea.valid, select.valid { color: #ffe53e; }

textarea { height: auto; padding-top: 10px; padding-bottom: 10px; }

.invalid { border-color: #ea1d24 !important; color: #ea1d24 !important; }

.invalid * { border-color: #ea1d24 !important; color: #ea1d24 !important; }

.invalid .jq-selectbox__trigger-arrow { border-color: #000 transparent transparent transparent !important; }

.valid { border-color: #25a670 !important; color: #25a670 !important; }

.valid * { border-color: #25a670 !important; color: #25a670 !important; }

.valid .jq-selectbox__trigger-arrow { border-color: #000 transparent transparent transparent !important; }

label.invalid, span.invalid { display: inline-block; color: #ea1d24; font-size: 13px; font-size: 0.8125rem; padding-bottom: 0; margin-bottom: 0; }

span.invalid { padding-top: 5px; }

.error-field { border: 1px solid #e83f32 !important; }

.error-field input[type="text"], .error-field input[type="tel"], .error-field input[type="password"], .error-field input[type="email"], .error-field input[type="number"], .error-field input[type="search"], .error-field input[type="url"], .error-field input[type="date"], .error-field input[type="time"], .error-field input[type="datetime"], .error-field input[type="datetime-local"], .error-field input[type="month"], .error-field input[type="week"], .error-field input[type="color"], .error-field textarea { border: 1px solid #e83f32 !important; }

.error-text { display: block; font-size: 12px; font-size: 0.75rem; color: #e62511; margin-top: 8px; }

table input[type="text"], table input[type="tel"], table input[type="password"], table input[type="email"], table input[type="number"], table input[type="search"], table input[type="url"], table input[type="date"], table input[type="time"], table input[type="datetime"], table input[type="datetime-local"], table input[type="month"], table input[type="week"], table input[type="color"] { width: 100%; }

textarea { padding-top: 14px; padding-bottom: 14px; width: 100%; height: auto; resize: none; font-size: 20px; font-size: 1.25rem; }

::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

::-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }

:-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }

:-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

:focus::-webkit-input-placeholder { opacity: 0; }

:focus::-moz-placeholder { opacity: 0; }

:focus:-moz-placeholder { opacity: 0; }

:focus:-ms-input-placeholder { opacity: 0; }

.invalid::-webkit-input-placeholder { color: #ea1d24; }

.invalid::-moz-placeholder { color: #ea1d24; }

.invlaid:-moz-placeholder { color: #ea1d24; }

.invalid:-ms-input-placeholder { color: #ea1d24; }

.valid::-webkit-input-placeholder { color: #25a670; }

.valid::-moz-placeholder { color: #25a670; }

.vlaid:-moz-placeholder { color: #25a670; }

.valid:-ms-input-placeholder { color: #25a670; }

.btn { display: inline-block; vertical-align: middle; max-width: 100%; min-width: 215px; height: 54px; line-height: 54px; white-space: nowrap; text-align: center; padding: 0px 50px; border-radius: 0; background-color: #ffe53e; border: 0px solid #ffe53e; font-family: "GothamPro"; color: #000; text-transform: none; font-size: 20px; font-size: 1.25rem; font-weight: 700; -ms-transition: all .4s; transition: all .4s; cursor: pointer; outline: none; }

.btn:hover { background-color: #ffec71; color: #000; text-decoration: none; }

.btn:active { background-color: #ffef8b; }

.btn + .btn { margin-left: 7px; }

.btn-block { display: block; width: 100%; margin-left: 0 !important; margin-bottom: 10px; padding: 0px 10px; }

.btn-upper { text-transform: uppercase; font-weight: 700; font-size: 13px; font-size: 0.8125rem; }

.btn-fixed { min-width: 240px; }

.btn-mini { height: 36px; line-height: 36px; border-radius: 18px; font-size: 14px; font-size: 0.875rem; padding: 0px 18px; }

.btn-big { height: 72px; line-height: 72px; border-radius: 0; padding: 0px 60px; }

.btn i { display: inline-block; vertical-align: middle; margin-right: 7px; position: relative; top: -1px; }

.btn-white { background-color: #FFF; border-color: #FFF; }

.btn-white:hover { background-color: #ffe53e; border-color: #ffe53e; }

.btn-white:active { background-color: #ffec71; border-color: #ffec71; }

.btn-secondary { background-color: #db0007; border-color: #db0007; }

.btn-secondary:hover { background-color: transparent; border-color: #db0007; color: #db0007; }

.btn-secondary:active { color: #ff0f17; border-color: #ff0f17; }

.btn-bordered { background-color: transparent; border: 0px solid #ffe53e; line-height: 54px; color: #ffe53e; }

.btn-bordered:hover { background-color: #ffec71; border-color: #ffec71; color: #FFF; }

.btn-bordered:active { background-color: #ffef8b; border-color: #ffef8b; color: #FFF; }

.btn-bordered-yellow { background-color: transparent; border: 0px solid #FFF; line-height: 54px; color: #FFF; }

.btn-bordered-yellow:hover { background-color: transparent; color: #ffe53e; border-color: #ffe53e; }

.btn-bordered-yellow.active { background-color: #ffe53e; border-color: #ffe53e; color: #FFF; }

.btn-bordered-white { background-color: transparent; border: 0px solid #FFF; line-height: 54px; color: #FFF; }

.btn-bordered-white:hover { background-color: transparent; color: #FFF; border-color: #FFF; }

.btn-bordered-white.active { color: #FFF; background-color: #FFF; border-color: #FFF; }

.btn-flex { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; height: 54px; line-height: 1.05; -webkit-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center; white-space: normal; padding: 0px 5px; }

.btn-gray { background-color: #d9d9d9; color: #FFF; }

.btn-gray:hover { background-color: silver; color: #FFF; }

input[type="button"].block, input[type="submit"].block, input[type="reset"].block { width: 100%; }

.label-inline { display: inline-block; margin-right: 23px; }

.label-block { display: block; margin-bottom: 7px; }

.req { color: #ea1d24; font-style: normal; }

.reply-field, .field { padding-bottom: 20px; }

.reply-field input, .reply-field .jq-selectbox, .reply-field select, .field input, .field .jq-selectbox, .field select { width: 100%; }

.no-padding { padding: 0 !important; }

.no-margin { margin: 0 !important; }

.no-gutters { padding: 0 !important; margin: 0 !important; }

.no-gutters-top { padding-top: 0 !important; margin-top: 0 !important; }

.no-gutters-left { padding-left: 0 !important; margin-left: 0 !important; }

.no-gutters-right { padding-right: 0 !important; margin-right: 0 !important; }

.no-gutters-bottom { padding-bottom: 0 !important; margin-bottom: 0 !important; }

.bold, .strong { font-weight: 700; }

.regular { font-weight: 400 !important; }

.thin, .thin-txt { font-weight: 300; }

.fz-bigger { font-size: 140%; }

.margin { margin-bottom: 10px; }

.centered, .ta-center, .ui-centered { text-align: center; }

.ta-left, .lefted, .ui-lefted { text-align: left; }

.ta-right, .righted, .ui-righted { text-align: right; }

.upper, .ui-upper { text-transform: uppercase; }

.not-upper { text-transform: none; }

.red-text { color: #a42727; }

.non-visible { display: none !important; }

.bordered-link, .link-bordered { /*color: $font;*/ /*padding-bottom: 1px;*/ border-bottom: 1px solid rgba(255, 229, 62, 0.5); text-decoration: none; }

.bordered-link:hover, .link-bordered:hover { text-decoration: none; border-bottom-color: transparent; }

.dotted-link, .link-dotted { /*color: $font;*/ /*padding-bottom: 1px;*/ border-bottom: 1px dotted #ffec71; text-decoration: none; }

.dotted-link:hover, .link-dotted:hover { text-decoration: none; /*border-bottom-style: solid;*/ }

.link-dashed { border-bottom: 1px dashed rgba(255, 255, 255, 0.5); text-decoration: none; }

.link-dashed:hover { text-decoration: none; border-bottom-color: transparent; }

.black-link { color: #000; }

.toggledDown, .toggledDiv { display: none; }

.alert { border: 1px solid #d0d0d0; padding: 14px 20px 14px 60px; min-height: 44px; margin-bottom: 20px; background: #f5f5f5 url(../images/svg/alert-info.svg) no-repeat 20px 12px; -webkit-background-size: 24px; background-size: 24px; }

.alert.success { border-color: #25a670; background: rgba(37, 166, 112, 0.25) url(../images/svg/alert-valid.svg) no-repeat 20px 12px; -webkit-background-size: 24px; background-size: 24px; }

.alert.error { border-color: #ea1d24; background: rgba(234, 29, 36, 0.25) url(../images/svg/alert-invalid.svg) no-repeat 20px 12px; -webkit-background-size: 24px; background-size: 24px; }

.alert.attention { border-color: #ffe03f; background: rgba(255, 224, 63, 0.25) url(../images/svg/alert-attention.svg) no-repeat 20px 12px; -webkit-background-size: 24px; background-size: 24px; }

/* Form Styler 
-----------------------------------------------*/
.jq-checkbox.focused, .jq-radio.focused { border: 1px solid #FFF; }

.label-styler { display: block; position: relative; margin-bottom: 10px; padding-left: 35px; line-height: 1.3; }

.label-styler.inline { display: inline-block; margin-right: 40px; }

.label-styler .jq-checkbox, .label-styler .jq-radio { position: absolute !important; left: 0; top: -1px; margin: 0; }

.jq-checkbox { top: -1px; vertical-align: middle; width: 22px; height: 22px; border: 0 !important; border-radius: 3px; background: #b7d2ed; box-shadow: none; margin-right: 6px; cursor: pointer; overflow: visible; }

.jq-checkbox.disabled { background: #bbb; opacity: 0.8; cursor: default; }

.jq-checkbox.checked .jq-checkbox__div { margin: 0px; position: absolute; width: 14px; height: 7px; margin: 5px 0px 0px 3px; border-bottom: 2px solid #FFF; border-left: 2px solid #FFF; box-shadow: none; background-size: contain; -webkit-transform: rotate(-45deg) scale(1); -moz-transform: rotate(-45deg) scale(1); -khtml-transform: rotate(-45deg) scale(1); -ms-transform: rotate(-45deg) scale(1); -o-transform: rotate(-45deg) scale(1); transform: rotate(-45deg) scale(1); }

.jq-checkbox:hover, .jq-checkbox.focused:hover { background: #a3c5e8; }

.jq-radio { top: -1px; vertical-align: middle; width: 22px; height: 22px; background: #FFF; border: 2px solid #FFF; box-shadow: none; margin-right: 6px; -webkit-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; cursor: pointer; }

.jq-radio.disabled { background: #bbb; opacity: 0.8; cursor: default; }

.jq-radio.disabled:hover { border-color: #FFF; }

.jq-radio:hover, .jq-radio.focused:hover { border: 2px solid #d9d9d9; }

.jq-radio.checked, .jq-radio.checked:hover { border: 2px solid #ffe53e; }

.jq-radio__div { -webkit-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; }

.jq-radio.checked .jq-radio__div { width: 10px; height: 10px; margin: 4px 0 0 4px; background: #ffe53e; -webkit-transform: scale(1); -moz-transform: scale(1); -khtml-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

.jq-checkbox__div, .jq-radio__div { -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -khtml-transform: scale(0.5); -ms-transform: scale(0.5); -o-transform: scale(0.5); transform: scale(0.5); -webkit-transition: transform 0.2s; -moz-transition: transform 0.2s; -khtml-transition: transform 0.2s; -ms-transition: transform 0.2s; -o-transition: transform 0.2s; transition: transform 0.2s; }

.jq-checkbox + label, .jq-radio + label, .jq-radio + span, .jq-checkbox + span { vertical-align: middle; }

.label-absolute { display: block; position: relative; padding-left: 28px; padding-top: 0px; }

.label-absolute .jq-radio, .label-absolute .jq-checkbox { position: absolute !important; left: 0; top: 0; }

.jq-selectbox { /*z-index: 0 !important;*/ }

.jq-selectbox.dropdown.opened { z-index: 19 !important; }

.jq-selectbox ul { padding-left: 0; padding-bottom: 0; }

.jq-selectbox__select-text { width: auto !important; }

.jq-selectbox__select { /*background: #FFF;*/ background: none !important; font-size: 20px; font-size: 1.25rem; text-shadow: none; color: #FFF; border: 0; border-bottom: 1px solid #FFF; padding: 0px 30px 0px 0px; height: 54px; line-height: 52px; max-width: 100%; border-radius: 0; box-shadow: none !important; -webkit-transition: border .2s, box-shadow .2s; -moz-transition: border .2s, box-shadow .2s; -ms-transition: border .2s, box-shadow .2s; -o-transition: border .2s, box-shadow .2s; transition: border .2s, box-shadow .2s; cursor: pointer; }

.jq-selectbox__select:hover { border-color: #a2a2a2; /*box-shadow: inset 0px 0px 0px 1px $input_hover, inset 0px 2px 5px -1px #dcdada; */ }

.jq-selectbox__select:focus { border-color: #0069ba; /*border-color: #f2f2f2; box-shadow:  inset 0px 0px 0px 1px $secondary, inset 0px 2px 8px -1px #DDD;*/ }

.select-mini .jq-selectbox__select { height: 35px; line-height: 33px; }

.select-mini .jq-selectbox__dropdown { top: 39px; }

.select-mini .jq-selectbox__dropdown[style*="top: auto;"] { bottom: 39px; }

.select-light .jq-selectbox__select { height: auto; line-height: 1.42; border: 0 !important; padding: 0px 24px 0px 0px; border-bottom: 1px solid #bbb !important; }

.select-light .jq-selectbox__dropdown { top: 100%; }

.select-light .jq-selectbox__dropdown[style*="top: auto;"] { bottom: 100%; }

.select-light .jq-selectbox__trigger { width: 6px; }

.jq-select-multiple { -webkit-box-shadow: none; box-shadow: none; border-radius: 0; border: 1px solid #FFF; padding: 10px 0px; }

.jq-select-multiple.focused { border-color: #FFF; }

.jq-selectbox__trigger { position: absolute; border-left: 0; height: auto; width: 10px; right: 0; top: 0px; bottom: 0px; background: none; }

.jq-selectbox__trigger-arrow { position: absolute; top: 0; left: 0; right: 0px; bottom: 0; margin: auto; opacity: 1; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -khtml-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; display: inline-block; width: 0; height: 0; border-style: solid; border-width: 5px 4px 0 4px; border-color: #ffe53e transparent transparent transparent; /*@include sprite($select);*/ }

.jq-selectbox.opened .jq-selectbox__trigger-arrow { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); border-color: #ffe53e transparent transparent transparent; }

.jq-selectbox__dropdown { border: 0px; border-radius: 0; top: 54px; left: 0px; min-width: 100%; background: #FFF; width: 170px !important; -webkit-box-shadow: 0px 0px 20px -3px rgba(60, 60, 60, 0.25); -moz-box-shadow: 0px 0px 20px -3px rgba(60, 60, 60, 0.25); box-shadow: 0px 0px 20px -3px rgba(60, 60, 60, 0.25); /*-webkit-box-shadow: none; box-shadow: none;*/ }

.jq-selectbox__dropdown[style*="top: auto;"] { bottom: 54px; }

.jq-selectbox__dropdown::-webkit-scrollbar { width: 12px; height: 12px; background: #FFF; /*border-left: 1px solid $input_focus;*/ }

.jq-selectbox__dropdown::-webkit-scrollbar-thumb { background: #77a45d; width: 12px; height: 12px; }

.jq-selectbox ul { max-height: 210px !important; }

.jq-selectbox ul { margin-bottom: 0; padding: 6px 0px; }

.jq-selectbox li, .jq-select-multiple li { position: relative; color: #FFF; padding: 10px 15px; height: auto; white-space: normal; margin-bottom: 0 !important; font-weight: 400; border-radius: 0 !important; cursor: pointer; transition: color .3s; border-bottom: 1px solid #bbb; }

.jq-selectbox li:last-child, .jq-select-multiple li:last-child { border-bottom: 0; }

.jq-selectbox li:before, .jq-select-multiple li:before { content: none; }

.jq-selectbox li:hover, .jq-selectbox li.selected, .jq-select-multiple li:hover, .jq-select-multiple li.selected { background: #FFF; color: #ffe53e; }

.jq-selectbox__select:hover { border-color: #a2a2a2; background: #FFF; }

.jq-selectbox.focused .jq-selectbox__select { border-bottom-color: #FFF; }

.jq-selectbox.opened .jq-selectbox__select { border-bottom-color: #0069ba; box-shadow: none; }

.styler + span { display: inline-block; vertical-align: middle; opacity: 1; }

label .styler { opacity: 1; }

.jq-file { width: auto; box-shadow: none; border-radius: 0; }

.jq-file:hover .jq-file__name { border-bottom-color: transparent; }

.jq-file__browse { display: none; }

.jq-file__name { position: relative; display: inline-block; width: auto; height: auto; line-height: 1.42; font-family: "GothamPro"; font-size: 20px; font-size: 1.25rem; font-weight: 400; padding: 0px; margin-left: 0px; color: #000; border: 0px; padding: 0px 0px; border-bottom: 0px; border-radius: 0px; box-shadow: none; background: transparent; overflow: visible; border-bottom: 1px solid #ffe53e; color: #ffe53e; font-style: italic; }

.jq-file.focused .jq-file__name { border: 0; border-bottom-color: 1px solid #ffe53e; }

.styler, .styler * { font-size: 20px; font-size: 1.25rem; font-family: "GothamPro"; font-weight: 400; }

header.header { position: absolute; z-index: 9; left: 0; right: 0; top: 55px; }

.header-home { display: inline-block; vertical-align: middle; width: 62px; height: 62px; background: #fbb800; border-radius: 6px; position: relative; border: 1px solid rgba(255, 255, 255, 0.45); }

.header-home:hover { background: #ffe53e; }

.header-home:after { content: ""; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; background-image: url(../images/sprite/sprite.png); background-position: 0px -69px; width: 39px; height: 40px; }

footer.footer { background: #002050; }

.footer-flex { min-height: 140px; padding: 0px 15px; }

.subscribe-form { -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; position: relative; }

.subscribe-form input.subscribe-form-input { width: 100%; padding-right: 275px; font-weight: 700; }

.subscribe-form button.subscribe-form-btn { display: inline-block; vertical-align: middle; position: absolute; right: 0; top: 0; height: 54px; line-height: 54px; font-weight: 700; border: 0; padding: 0px 20px; background: #fbb800; color: #000; min-width: 250px; cursor: pointer; transition: background .3s; }

.subscribe-form button.subscribe-form-btn:hover { background: #ffe53e; }

.media-links { font-size: 0; }

.media-links a { display: inline-block; vertical-align: middle; margin-left: 30px; }

.media-links a i { display: block; margin: 0; }

.media-links a:hover { opacity: .75; }

.i-insta { background-image: url(../images/sprite/sprite.png); background-position: 0px -170px; width: 42px; height: 41px; }

.i-fb { background-image: url(../images/sprite/sprite.png); background-position: 0px -119px; width: 42px; height: 41px; }

.i-vk { background-image: url(../images/sprite/sprite.png); background-position: 0px -221px; width: 42px; height: 41px; }

.wrapper { overflow: hidden; margin-left: auto; margin-right: auto; min-width: 100%; }

.layout { min-height: 100%; }

.layout-aside { width: 20%; min-width: 300px; background: #ffe53e url(../images/right-col-bg.png) right top no-repeat; padding-top: 6.5vh; padding-right: 80px; }

.layout-main { width: 80%; overflow: hidden; }

.aside-img { position: relative; margin-left: -30%; }

.aside-img img { max-height: 75vh; min-height: 500px; }

.main-screen-col { height: calc(100vh - 140px - 230px); min-height: 420px; position: relative; }

.main-screen-col .aside-img img { max-height: calc(93.5vh - 340px); min-height: 0; }

.main-screen-img { position: absolute; left: 0; width: 100%; top: 0; min-height: 100%; }

.screen-col .aside-img { padding-top: 8vh; }

.purposes { background: #FFF; padding: 10px 0px 10px; position: relative; }

.purposes:before { content: ""; position: absolute; left: 0; right: 0; top: -20px; height: 20px; background: url(../images/polygon-tight.png) repeat-x; }

.purposes .row { margin-left: -5px; margin-right: -5px; }

.purposes [class*="flx-"] { padding-left: 5px; padding-right: 5px; }

.purpose { display: block; background: #0069ba; height: 210px; padding: 20px 15px 0px; text-align: center; font-weight: 700; font-size: 35px; font-size: 2.1875rem; line-height: 1.2; -webkit-mask-image: url(../images/polygon.png); -webkit-mask-size: 100% 100%; -moz-mask-image: url(../images/polygon.png); -moz-mask-size: 100% 100%; -ms-mask-image: url(../images/polygon.png); -ms-mask-size: 100% 100%; mask-image: url(../images/polygon.png); mask-size: 100% 100%; overflow: hidden; }

.purpose-inner { max-width: 395px; margin-left: auto; margin-right: auto; }

.purpose.megogo { -webkit-mask-image: url(../images/polygon-megogo.png); -webkit-mask-size: 100% 100%; -moz-mask-image: url(../images/polygon-megogo.png); -moz-mask-size: 100% 100%; -ms-mask-image: url(../images/polygon-megogo.png); -ms-mask-size: 100% 100%; mask-image: url(../images/polygon-megogo.png); mask-size: 100% 100%; overflow: hidden; }

.purpose.bycard { background: #004180; }

.purpose.silver { background: #0090d3; }

.purpose-title { margin-bottom: 15px; }

.purpose-logo { height: 55px; display: -ms-flex; display: flex; -ms-align-items: center; align-items: center; -ms-justify-content: center; justify-content: center; }

.purpose-logo img { max-height: 55px; }

.purpose:hover { transform: scale(0.98); background: #002050; }

.screen-content { min-height: calc(100vh - 140px); padding: 180px 80px 60px; font-weight: 300; font-size: 26px; font-size: 1.625rem; }

.screen-content.megogo { font-size: 30px; font-size: 1.875rem; background-color: #0069ba; background-image: url(../images/megogo.png), url(../images/dots-blue.png); background-position: right 60px bottom 60px, center top; background-repeat: no-repeat, repeat-x; }

.screen-content.megogo .h2, .screen-content.megogo h2 { max-width: 940px; margin-left: auto; margin-right: auto; }

.screen-content.silver { padding-top: 90px; padding-bottom: 30px; background-color: #0090d3; background-image: url(../images/silver-content-logo.png), url(../images/dots-blue.png), url(../images/silver-mobile.png), url(../images/silver-dots.png); background-position: right 40px bottom 40px, center top, 40px bottom, left bottom; background-repeat: no-repeat, repeat-x, no-repeat, no-repeat; background-size: auto, auto, auto 55%, 70% auto; }

.screen-content.silver h2, .screen-content.silver .h2 { max-width: 640px; margin-left: auto; margin-right: auto; margin-bottom: 15px; }

.screen-content.silver p { margin-bottom: 10px; }

.screen-content-btn { margin-top: 40px; }

.screen-content-btn .btn { width: 360px; }

.screen-inner { margin-left: auto; margin-right: auto; }

.screen-inner h2, .screen-inner .h2, .screen-inner h3, .screen-inner .h3 { margin-bottom: 38px; }

.screen-inner p { margin-bottom: 38px; }

.screen-inner .link-white { font-weight: 700; }

.silver-padding { text-align: left; padding-left: 30%; padding-top: 30px; }

.link-white { color: #FFF; }

.link-white:hover { color: #ffe53e; }

ol.silver-steps > li { margin-bottom: 0; }

.silver-prizes { width: 580px; max-width: 100%; }

.silver-prizes h4, .silver-prizes .h4 { padding-left: 62px; }

.silver-prize { position: relative; padding-left: 62px; margin-bottom: 20px; font-weight: 500; }

.silver-prize-icon { position: absolute; left: 0; top: -8px; }

.i-tickets { background-image: url(../images/sprite/sprite.png); background-position: 0px -25px; width: 39px; height: 34px; }

.i-popcorn { background-image: url(../images/sprite/sprite.png); background-position: 0px -272px; width: 44px; height: 48px; }

.popup-enter-active, .popup-leave-active { transition: opacity .5s, transform .5s; transform: scale(1); }

.popup-enter, .popup-leave-to { opacity: 0; transform: scale(0.75); backface-visibility: hidden; }

/* --
RESPONSIVE STYLES ----------------------- */
@media (min-height: 950px) { .main-screen-img { top: -7%; min-height: 107%; } }

@media (max-height: 930px) { .screen-content { font-size: 22px; font-size: 1.375rem; }
  .screen-content.megogo { font-size: 24px; font-size: 1.5rem; }
  .screen-inner h2, .screen-inner .h2, .screen-inner h3, .screen-inner .h3 { margin-bottom: 24px; }
  .screen-inner p { margin-bottom: 24px; } }

/*max-height 930px*/
@media (max-height: 880px) { header.header { top: 30px; }
  .screen-content { padding-top: 140px; }
  .screen-content.megogo { background-size: auto, auto 140px; }
  .footer-flex { min-height: 100px; }
  .screen-content { min-height: calc(100vh - 100px); }
  .purpose { height: 150px; font-size: 24px; font-size: 1.5rem; padding-top: 15px; }
  .purpose-inner { max-width: 285px; }
  .purpose-title { margin-bottom: 8px; }
  .main-screen-col { height: calc(100vh - 270px); min-height: 420px; position: relative; }
  .main-screen-col .aside-img img { max-height: calc(93.5vh - 250px); } }

/*max-height 880px*/
/*min1920*/
@media (max-width: 1600px) { .silver-padding { padding-left: 330px; } }

/*1600px end*/
@media (max-width: 1400px) { .silver-padding { padding-left: 38%; }
  .screen-content.silver { background-size: auto, auto, 30% auto, 70% auto; } }

/*1400px end*/
@media (max-width: 1280px) { .inner { padding-left: 35px; padding-right: 35px; }
  .subscribe-form { flex: 0 0 calc(100% - 235px); max-width: calc(100% - 235px); } }

/*1280px end*/
/*1140px end*/
@media (max-width: 992px) { .flx-m-1 { -webkit-flex: 8.33333%; -moz-flex: 8.33333%; -ms-flex: 8.33333%; -o-flex: 8.33333%; flex: 8.33333%; max-width: 8.33333%; }
  .flx-m-2 { -webkit-flex: 16.66667%; -moz-flex: 16.66667%; -ms-flex: 16.66667%; -o-flex: 16.66667%; flex: 16.66667%; max-width: 16.66667%; }
  .flx-m-3 { -webkit-flex: 25%; -moz-flex: 25%; -ms-flex: 25%; -o-flex: 25%; flex: 25%; max-width: 25%; }
  .flx-m-4 { -webkit-flex: 33.33333%; -moz-flex: 33.33333%; -ms-flex: 33.33333%; -o-flex: 33.33333%; flex: 33.33333%; max-width: 33.33333%; }
  .flx-m-5 { -webkit-flex: 41.66667%; -moz-flex: 41.66667%; -ms-flex: 41.66667%; -o-flex: 41.66667%; flex: 41.66667%; max-width: 41.66667%; }
  .flx-m-6 { -webkit-flex: 50%; -moz-flex: 50%; -ms-flex: 50%; -o-flex: 50%; flex: 50%; max-width: 50%; }
  .flx-m-7 { -webkit-flex: 58.33333%; -moz-flex: 58.33333%; -ms-flex: 58.33333%; -o-flex: 58.33333%; flex: 58.33333%; max-width: 58.33333%; }
  .flx-m-8 { -webkit-flex: 66.66667%; -moz-flex: 66.66667%; -ms-flex: 66.66667%; -o-flex: 66.66667%; flex: 66.66667%; max-width: 66.66667%; }
  .flx-m-9 { -webkit-flex: 75%; -moz-flex: 75%; -ms-flex: 75%; -o-flex: 75%; flex: 75%; max-width: 75%; }
  .flx-m-10 { -webkit-flex: 83.33333%; -moz-flex: 83.33333%; -ms-flex: 83.33333%; -o-flex: 83.33333%; flex: 83.33333%; max-width: 83.33333%; }
  .flx-m-11 { -webkit-flex: 91.66667%; -moz-flex: 91.66667%; -ms-flex: 91.66667%; -o-flex: 91.66667%; flex: 91.66667%; max-width: 91.66667%; }
  .flx-m-12 { -webkit-flex: 100%; -moz-flex: 100%; -ms-flex: 100%; -o-flex: 100%; flex: 100%; max-width: 100%; }
  .m-order--3 { -webkit-box-ordinal-group: -3; -webkit-order: -3; -ms-flex-order: -3; order: -3; }
  .m-order--2 { -webkit-box-ordinal-group: -2; -webkit-order: -2; -ms-flex-order: -2; order: -2; }
  .m-order--1 { -webkit-box-ordinal-group: -1; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .m-order-0 { -webkit-box-ordinal-group: 0; -webkit-order: 0; -ms-flex-order: 0; order: 0; }
  .m-order-1 { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .m-order-2 { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .m-order-3 { -webkit-box-ordinal-group: 3; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .m-hidden { display: none; }
  header.header { position: relative; background: #002050; top: auto; left: auto; right: auto; padding-top: 20px; padding-bottom: 20px; box-shadow: 0px 1px 10px -1px rgba(0, 0, 0, 0.55); }
  .header-logo { width: 55px; }
  .header-home { width: 40px; height: 40px; border: 0; }
  .header-home:after { transform: scale(0.6); }
  .inner { padding-left: 20px; padding-right: 20px; }
  .layout { display: block; }
  .layout-main { max-width: 100%; width: 100%; }
  .layout-aside { max-width: 100%; width: 100%; }
  .main-screen-col { min-height: 0; height: auto; }
  .main-screen-img { position: static; display: block; min-width: 100%; }
  .layout-aside { position: relative; padding: 20px; height: 175px; background-size: 78%; }
  .layout-aside:before { content: ""; position: absolute; left: 0; right: 0; top: 0; margin: -40px auto 0; background: url(../images/m-aside-img.png) center no-repeat; width: 389px; height: 220px; }
  .aside-img, .layout-aside.screen-col { display: none; visibility: hidden; }
  .screen-content { min-height: 0; padding-top: 55px !important; padding-bottom: 90px; }
  .screen-content .h2, .screen-content h2 { margin-bottom: 25px !important; }
  .screen-content .h2:first-child, .screen-content h2:first-child { margin-top: 0; }
  .screen-content.megogo { background-position: center bottom 40px, center top; background-size: auto 18px, auto 120px; }
  .screen-content.silver { background-image: url(../images/silver-content-logo.png), url(../images/dots-blue.png), url(../images/m-silver-mobile.png); background-position: center bottom 420px, center top, center bottom; background-repeat: no-repeat, repeat-x, no-repeat; background-size: auto 50px , auto 120px, auto 390px; padding-bottom: 480px; }
  .silver-padding { padding-left: 0; } }

/*992px end*/
@media (max-width: 890px) { .purposes { padding-bottom: 0; }
  .purposes:before { top: -15px; }
  .purposes [class*="flx-"] { flex: 0 0 100%; max-width: 100%; }
  .purpose { margin-bottom: 10px; padding: 20px 15px; font-size: 22px; font-size: 1.375rem; height: auto; -webkit-mask-image: url(../images/polygon-mobile.png); -webkit-mask-size: 100% 100%; -moz-mask-image: url(../images/polygon-mobile.png); -moz-mask-size: 100% 100%; -ms-mask-image: url(../images/polygon-mobile.png); -ms-mask-size: 100% 100%; mask-image: url(../images/polygon-mobile.png); mask-size: 100% 100%; }
  .footer-flex { display: block; min-height: 0; padding-top: 30px; padding-bottom: 30px; }
  .subscribe-form { max-width: 100%; margin-bottom: 30px; }
  .media-links { text-align: center; }
  .media-links a { margin-left: 15px; margin-right: 15px; } }

/* 890px end */
@media (max-width: 768px) { .flx-x-1 { -webkit-flex: 8.33333%; -moz-flex: 8.33333%; -ms-flex: 8.33333%; -o-flex: 8.33333%; flex: 8.33333%; max-width: 8.33333%; }
  .flx-x-2 { -webkit-flex: 16.66667%; -moz-flex: 16.66667%; -ms-flex: 16.66667%; -o-flex: 16.66667%; flex: 16.66667%; max-width: 16.66667%; }
  .flx-x-3 { -webkit-flex: 25%; -moz-flex: 25%; -ms-flex: 25%; -o-flex: 25%; flex: 25%; max-width: 25%; }
  .flx-x-4 { -webkit-flex: 33.33333%; -moz-flex: 33.33333%; -ms-flex: 33.33333%; -o-flex: 33.33333%; flex: 33.33333%; max-width: 33.33333%; }
  .flx-x-5 { -webkit-flex: 41.66667%; -moz-flex: 41.66667%; -ms-flex: 41.66667%; -o-flex: 41.66667%; flex: 41.66667%; max-width: 41.66667%; }
  .flx-x-6 { -webkit-flex: 50%; -moz-flex: 50%; -ms-flex: 50%; -o-flex: 50%; flex: 50%; max-width: 50%; }
  .flx-x-7 { -webkit-flex: 58.33333%; -moz-flex: 58.33333%; -ms-flex: 58.33333%; -o-flex: 58.33333%; flex: 58.33333%; max-width: 58.33333%; }
  .flx-x-8 { -webkit-flex: 66.66667%; -moz-flex: 66.66667%; -ms-flex: 66.66667%; -o-flex: 66.66667%; flex: 66.66667%; max-width: 66.66667%; }
  .flx-x-9 { -webkit-flex: 75%; -moz-flex: 75%; -ms-flex: 75%; -o-flex: 75%; flex: 75%; max-width: 75%; }
  .flx-x-10 { -webkit-flex: 83.33333%; -moz-flex: 83.33333%; -ms-flex: 83.33333%; -o-flex: 83.33333%; flex: 83.33333%; max-width: 83.33333%; }
  .flx-x-11 { -webkit-flex: 91.66667%; -moz-flex: 91.66667%; -ms-flex: 91.66667%; -o-flex: 91.66667%; flex: 91.66667%; max-width: 91.66667%; }
  .flx-x-12 { -webkit-flex: 100%; -moz-flex: 100%; -ms-flex: 100%; -o-flex: 100%; flex: 100%; max-width: 100%; }
  .x-order--3 { -webkit-box-ordinal-group: -3; -webkit-order: -3; -ms-flex-order: -3; order: -3; }
  .x-order--2 { -webkit-box-ordinal-group: -2; -webkit-order: -2; -ms-flex-order: -2; order: -2; }
  .x-order--1 { -webkit-box-ordinal-group: -1; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .x-order-0 { -webkit-box-ordinal-group: 0; -webkit-order: 0; -ms-flex-order: 0; order: 0; }
  .x-order-1 { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .x-order-2 { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .x-order-3 { -webkit-box-ordinal-group: 3; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .x-hidden { display: none; }
  h2, .h2 { font-size: 30px; font-size: 1.875rem; }
  h4, .h4 { font-size: 17px; font-size: 1.0625rem; }
  .screen-content { font-size: 17px; font-size: 1.0625rem; }
  .screen-content.megogo { font-size: 17px; font-size: 1.0625rem; }
  .screen-content-btn .btn { height: 42px; line-height: 42px; width: auto; } }

/*768px end*/
@media (max-width: 640px) { .subscribe-form input.subscribe-form-input { height: 36px; font-weight: 400; padding-right: 150px; font-size: 13px; font-size: 0.8125rem; }
  .subscribe-form button.subscribe-form-btn { height: 36px; line-height: 36px; font-size: 13px; font-size: 0.8125rem; min-width: 145px; }
  .media-links a { transform: scale(0.85); } }

/* 640px end */
@media (max-width: 570px) { .flx-u-1 { -webkit-flex: 8.33333%; -moz-flex: 8.33333%; -ms-flex: 8.33333%; -o-flex: 8.33333%; flex: 8.33333%; max-width: 8.33333%; }
  .flx-u-2 { -webkit-flex: 16.66667%; -moz-flex: 16.66667%; -ms-flex: 16.66667%; -o-flex: 16.66667%; flex: 16.66667%; max-width: 16.66667%; }
  .flx-u-3 { -webkit-flex: 25%; -moz-flex: 25%; -ms-flex: 25%; -o-flex: 25%; flex: 25%; max-width: 25%; }
  .flx-u-4 { -webkit-flex: 33.33333%; -moz-flex: 33.33333%; -ms-flex: 33.33333%; -o-flex: 33.33333%; flex: 33.33333%; max-width: 33.33333%; }
  .flx-u-5 { -webkit-flex: 41.66667%; -moz-flex: 41.66667%; -ms-flex: 41.66667%; -o-flex: 41.66667%; flex: 41.66667%; max-width: 41.66667%; }
  .flx-u-6 { -webkit-flex: 50%; -moz-flex: 50%; -ms-flex: 50%; -o-flex: 50%; flex: 50%; max-width: 50%; }
  .flx-u-7 { -webkit-flex: 58.33333%; -moz-flex: 58.33333%; -ms-flex: 58.33333%; -o-flex: 58.33333%; flex: 58.33333%; max-width: 58.33333%; }
  .flx-u-8 { -webkit-flex: 66.66667%; -moz-flex: 66.66667%; -ms-flex: 66.66667%; -o-flex: 66.66667%; flex: 66.66667%; max-width: 66.66667%; }
  .flx-u-9 { -webkit-flex: 75%; -moz-flex: 75%; -ms-flex: 75%; -o-flex: 75%; flex: 75%; max-width: 75%; }
  .flx-u-10 { -webkit-flex: 83.33333%; -moz-flex: 83.33333%; -ms-flex: 83.33333%; -o-flex: 83.33333%; flex: 83.33333%; max-width: 83.33333%; }
  .flx-u-11 { -webkit-flex: 91.66667%; -moz-flex: 91.66667%; -ms-flex: 91.66667%; -o-flex: 91.66667%; flex: 91.66667%; max-width: 91.66667%; }
  .flx-u-12 { -webkit-flex: 100%; -moz-flex: 100%; -ms-flex: 100%; -o-flex: 100%; flex: 100%; max-width: 100%; }
  .u-order--3 { -webkit-box-ordinal-group: -3; -webkit-order: -3; -ms-flex-order: -3; order: -3; }
  .u-order--2 { -webkit-box-ordinal-group: -2; -webkit-order: -2; -ms-flex-order: -2; order: -2; }
  .u-order--1 { -webkit-box-ordinal-group: -1; -webkit-order: -1; -ms-flex-order: -1; order: -1; }
  .u-order-0 { -webkit-box-ordinal-group: 0; -webkit-order: 0; -ms-flex-order: 0; order: 0; }
  .u-order-1 { -webkit-box-ordinal-group: 1; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  .u-order-2 { -webkit-box-ordinal-group: 2; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  .u-order-3 { -webkit-box-ordinal-group: 3; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  .u-hidden { display: none; }
  h2, .h2 { font-size: 21px; font-size: 1.3125rem; }
  .screen-content { padding-left: 20px; padding-right: 20px; } }

/* 570px end */
/* 533px end */
@media (max-width: 480px) { .screen-content { font-size: 17px; font-size: 1.0625rem; } }

/*480px end*/
@media (max-width: 420px) { .screen-content { font-size: 17px; font-size: 1.0625rem; } }

/* 420px end */
@media (max-width: 380px) { .layout-aside { height: 155px; }
  .layout-aside:before { max-width: 100%; background-size: contain; margin-top: -48px; } }

/*380px end*/
/*370px end*/
/*350px*/
